*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

/* nav */
.bar{
    position: absolute;
    visibility: hidden;
}
.navbar{
    height: 8rem;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
}
.logo{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo>ul{
    width: 50rem;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #62429C;
}
/* main */
.world{
    height: 70rem;
    background-color: #6247EA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.right{
    height: 50rem;
    width: 60rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.right>h2{
    font-size: 4rem;
    color: #FFFFFF;
}
.right>p{
    font-size: 2rem;
    color: #9583F1;
}
.right>button{
    width: 20rem;
    height: 5rem;
    background-color:#EC9D5F;
    color: #FFFFFF;
    border-radius: .5rem;
    border: 0cap;
}
.right>button:hover{
    color:#62429C ;
}
.unique{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFCFF;
}
.unique>h2{
    font-size: 5.5rem;
}
.unique>p{
    color: #777777;
    display: flex;
    height: 5rem;
    width:100 ;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.Expert{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50rem;
    width: 100%;
    gap: 2rem;
    padding: 5rem;
}
.ex{
    border: 1px solid #77777769;
    border-radius: 1.3rem;
    box-shadow: #000000;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.ex>h2{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
    padding: 1rem;
    color: #3f3e3e;
}
.Pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFCFF;
    height: 70rem;
}
.pr{
    display: flex;
    flex-direction: column;
    height: 55rem;
    width: 30rem;
    font-size: 2rem;
    gap: 3rem;
    padding: 2rem;
    border-right: 1px solid gray ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid gray;
    border-style: none;
    background-color: #FFFFFF;
}
.pr:hover{
    border-top: 2px solid #6247ED;
}
.pr>h3:hover{
    color:#6247ED;
}
.custom{
    display: flex;
    flex-direction: column;
    height: 30rem;
    font-size: 1.5rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: #EC9D5F;
    color: white;

}
.custom>button{
    background-color: white;
    border: none;
    height: 5rem;
    width: 30rem;
}
.custom>button:hover{
    background-color:#6247ED ;
    color: white;
    transition: 0.5s;
}
.client{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client>.cl-handle{
    display: flex;
    height: 25rem;
    width: 120rem;
    gap: 2rem;

}
.cl{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 2rem;
    gap: 3rem;
}
.cl2,.cl3{
    border: 1px solid  #77777769;
    box-shadow: #000000;
}
.services{
    background-image: url(./images/img-serv-sec.webp);
    background-color: #6C53EB;
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding-top: 10rem;
    color: white;

}
.services>p{
    color: white;
}
.services>h2{
    color: rgba(255, 255, 255, 0.863);
    font-size: 5rem;
}
.ser-handle{
    display: flex;
    flex-direction: column;
    padding: 10rem;
    gap: 2rem;
}
.sr{
    background-color: #c2bdbd94;
    border: 1px solid #77777769 ;
    border-radius: 10px;
    height: 22rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
   padding: 2rem;
    justify-content: center;
    color: rgba(255, 255, 255, 0.74);
}
.sr-up,.sr-down{
    display: flex;
    gap: 4rem;
}
.sr:hover{
    background-color: white;
    color: black;
}
.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    font-size: 2rem;
    padding: 2rem;
}
.blog-handle{
    display: flex;
    padding: 5rem;
    gap: 2rem;

}
.bl{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
}
.bl>button{
    width: 20rem;
    height: 5rem;
    background-color: #EC9D5F;
    font-size: 1.5rem;
    border: none;
}
.img{
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.img>img{
    width: 20rem;
}
.footer{
    height: 40rem;
    display: flex;
    background-color: #04094E;
    font-size: 2rem;
    color: white;
    justify-content: center;
    padding: 10rem;
    gap: 4rem;
}
.ft1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}
.ft2>input{
    width: 20rem;
    height: 3rem;
    border: none;
    padding: 2rem;
    border-radius: 30px;
}
.ft2>button{
    height: 5rem;
    width: 10rem;
    border-radius:30px ;
    background-color:#6247EA;
    border: none;
    color: white;
}
.ft3>img{
    width: 5rem;
    height: 5rem;
}
.ft>p{
    color: white;
    font-size: 2rem;
}
.last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #04094E; 
    padding: 2rem;
}
.icon{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    color: white;
}
.last>p{
    color: white;
    font-size: 2rem;
}

@media (max-width:768px) {
    .world{
        flex-wrap: wrap;
        height: 85rem;
    }
    .unique{
        height: 20rem;
        gap: 2rem;
        padding: 1rem;
    }
    .unique>h2{
        font-size: 3rem;
    }
    .unique>p{
       font-size: 16px;
    }
    .Expert{
   flex-wrap: wrap;
   height: 70rem;
}
.ex{
    width: 30rem;
}

.Pricing{
   flex-wrap: wrap;
   height: 120rem;
}
.cl2,.cl3{
    height: 28rem;

}
.client>.cl-handle{
    width: 75rem;
    gap: 1rem;
}

.services{  
width: 80rem;
}
.sr{
   width: 20rem;
}
.blog-handle{
    display: flex;
    padding: 8rem;
    gap: 2rem;

}
.bl{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
}
.img>img{
    width: 12rem;
}
.footer{
   height: 40rem;
    display: flex;
    background-color: #04094E;
    font-size: 2rem;
    color: white;
    justify-content: center;
    padding: 5rem;
    gap: 4rem;
}
.ft1{
    height: 30rem;
    width: 40rem;
    gap: 0px;
}
.ft2{
    height: 30rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ft2>input{
    width: 20rem;
    height: 3rem;
    border: none;
    padding: 2rem;
    border-radius: 30px;
}
.ft2>button{
    height: 5rem;
    width: 10rem;
    border-radius:30px ;
    background-color:#6247EA;
    border: none;
    color: white;
}
.ft3{
    height: 30rem;
    width: 60rem;
}
.ft3>img{
    width: 3rem;
    height: 3rem;
}
.ft>p{
    color: white;
    font-size: 2rem;
}
}

@media (max-width:425px) {
    html{
        font-size: 50%;
    }
    .logo>ul{
        display: none;
    }
    .bar {
        background-color: #6247EA;
        color: white;
        visibility: visible;
        position: fixed;
        font-size: 2rem;
        right: 2rem;
        top: 1rem;
        padding: 2rem;
    }
    .world{
        padding: 1rem;
    }
    .Expert{
        flex-wrap: wrap;
        height: 70rem;
     }
     .ex{
         width: 20rem;
         padding: 1rem;
     }
     .Pricing{
        flex-wrap: wrap;
        height: 120rem;
     }
     .pr{
        width: 20rem;
     }
     .client{
        height: 55rem;
        flex-wrap: wrap;
     }
     .cl2,.cl3{
        height: 38rem;
     }
     .client>.cl-handle{
        padding: 1rem;
        width: 75rem;
        gap: 1rem;
    }
    .services{  
        width: 80rem;
        }
        .sr{
           width: 20rem;
        }
        .services>h2{
            color: rgba(255, 255, 255, 0.863);
            font-size: 3rem;
            position: absolute;
            left: 1px;
            MARGIN-top: -4rem;
        }
        .blog{
            height: 120rem;
        }
        .blog-handle{
            display: flex;
            flex-wrap: wrap;
            padding: 8rem;
            gap: 2rem;
        
        }
        .bl{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 40rem;
            border: 1px solid gray;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 1rem;
        }
        .img>img{
            width: 8rem;
        }
        .footer{
            flex-wrap: wrap;
            height: 68rem;
            gap: 0.3rem;
        }
        .ft{
            height: 23rem;
        }
}
@media (max-width:375px) {
    html{
        font-size: 45%;
    }
    .Expert{
        flex-wrap: wrap;
        height: 150rem;
     }
     .ex{
         width: 40rem;
         padding: 1rem;
     }
     .client{
      display: none;
     }
     .services{
        display: none;
    }
    .img>img{
        width: 7rem;
    }
}
@media (max-width:320px) {
    html{
        font-size: 45%;
    }
    .Expert{
        flex-wrap: wrap;
        height: 150rem;
     }
     .ex{
         width: 40rem;
         padding: 1rem;
     }
     .client{
      display: none;
     }
     .services{
        display: none;
    }
    .img>img{
        width: 6rem;
    }
}