*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}

/* nav */
.navbar{
    height: 8rem;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
}
.logo{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo>ul{
    width: 50rem;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #62429C;
}
/* main */
.world{
    height: 70rem;
    background-color: #6247EA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.right{
    height: 50rem;
    width: 60rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.right>h2{
    font-size: 4rem;
    color: #FFFFFF;
}
.right>p{
    font-size: 2rem;
    color: #9583F1;
}
.right>button{
    width: 20rem;
    height: 5rem;
    background-color:#EC9D5F;
    color: #FFFFFF;
    border-radius: .5rem;
    border: 0cap;
}
.right>button:hover{
    color:#62429C ;
}
.unique{
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.unique>h2{
    font-size: 5.5rem;
}
.unique>p{
    color: #777777;
    display: flex;
    height: 5rem;
    width:100 ;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.Expert{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 55rem;
    width: 100%;
    gap: 2rem;
    padding: 5rem;
}
.ex{
    border: 1px solid #77777769;
    border-radius: 1.3rem;
    box-shadow: #000000;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.ex>h2{
    font-size: 3rem;
}
.ex>p{
    font-size: 1.5rem;
    padding: 1rem;
    color: #777777;
}